
<%- include ("../partials/header") %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">
				YelpCamp
			</p>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item ">Info 2</li>
				<li class="list-group-item ">Info 3</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%=camp.image%>">
				<div class="caption-full">
					<h4 class="pull-right">$<%=camp.price%>/night</h4>
					<h4><a><%=camp.name%></a></h4>
					<p><%= camp.description %></p>
					<p>
						<em>SubMitted By:<%=camp.author.username%></em>
					</p>
					<% if(currentUser && camp.author.id.equals(currentUser._id)){%>
					<a class="btn btn-xs btn-warning" href="/campground/<%=camp._id%>/edit">EDIT</a>
					<form class="delete-form" action="/campground/<%=camp._id%>?_method=DELETE" method="POST">
						<button class="btn btn-xs btn-danger">
							DELETE
						</button>
					</form>
					<% }%>
				</div>
			</div>
			<div class="well">
				<div class="text-right">
					<a class="btn btn-success" href="/campground/<%=camp._id%>/comments/new">Add New Comment</a>
				</div>
				<hr>
				<% camp.comments.forEach(function(ca){%>
				<div class="row">
					<div class="col-md-12">
						<strong><%= ca.author.username %></strong>
						<span class="pull-right">10 days ago</span>
						<p>
	 						<%=ca.text%>	
						</p>
						<% if(currentUser && ca.author.id.equals(currentUser._id)){%>
						<a class="btn btn-xs btn-warning" href="/campground/<%=camp._id%>/comments/<%=ca._id%>/edit">Edit</a>
						<form class="delete-form" action="/campground/<%=camp._id%>/comments/<%=ca._id%>?_method=DELETE" method="POST">
							<input type="submit" class="btn btn-xs btn-danger" value="DELETE">
						</form>
						<%}%>
					</div>
				</div>
				<% }) %>
			</div>
		</div>
	</div>
</div>
<%- include ("../partials/footer") %>